DATASET - The dataset provides the attribute of women and their incidence of
diabetes.


Methods to apply on dataset-
1. Check if all the features are numeric.

2. Given dataset contains many (zero) values, replace 0 with NaN value.
3. Replace NaN with mean , median, mode.
4. Get the correlation matrix of each column,
5. Get the descriptive statistics of each column.
6. Inferential Statistics

In [95]:
#Import the required Libraries
import pandas as pd
import numpy as np 
import random

In [136]:
#reading the csv file from defined file path
filepath='/content/drive/MyDrive/Growth Guide Assignment/population_diabetes.csv'
data=pd.read_csv(filepath)

In [97]:
#viewing the data heads
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [98]:
#Separating Dependent and Independent variables
X=data.iloc[:,:-1]
Y=data['Outcome']

# 1. Check if all the features are numeric.

In [99]:
#The Following Code iterates through the columns and check their datatypes.Also has a counter to count the total number of numerical features.
numeric_col_count=0
for column in X.columns:
  if(type(column)!='o'):
    print(column+' is Numeric')
    numeric_col_count+=1
  else:
    print(column+' is not numeric')

print('\n')
print('Total Numeric Columns = {}'.format(numeric_col_count))

Pregnancies is Numeric
Glucose is Numeric
BloodPressure is Numeric
SkinThickness is Numeric
Insulin is Numeric
BMI is Numeric
DiabetesPedigreeFunction is Numeric
Age is Numeric


Total Numeric Columns = 8

#2. Given dataset contains many (zero) values, replace 0 with NaN value.

In [100]:
#Since there was presence of many 0 values , we replaced it with NaN value
X=X.replace(0,np.nan)
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6.0,148.0,72.0,35.0,NaN,33.6,0.627,50
1,1.0,85.0,66.0,29.0,NaN,26.6,0.351,31
2,8.0,183.0,64.0,NaN,NaN,23.3,0.672,32
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21
4,NaN,137.0,40.0,35.0,168.0,43.1,2.288,33

# 3. Replace NaN with mean , median, mode.

In [101]:
#The following code imputes the the NaN values with the mean values and transform the dataset
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
head=X.columns
imputer = imputer.fit(X)

X = pd.DataFrame(imputer.transform(X),columns=head)
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6.000000,148.0,72.0,35.00000,155.548223,33.6,0.627,50.0
1,1.000000,85.0,66.0,29.00000,155.548223,26.6,0.351,31.0
2,8.000000,183.0,64.0,29.15342,155.548223,23.3,0.672,32.0
3,1.000000,89.0,66.0,23.00000,94.000000,28.1,0.167,21.0
4,4.494673,137.0,40.0,35.00000,168.000000,43.1,2.288,33.0

# 4. Get the correlation matrix of each column

**Correlation** refers to a process for establishing the relationships between two variables depicting how strong positively or negatively features are dependent on each other

In [102]:
#Code showing the correlation matrix 
X.corr()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Pregnancies,1.000000,0.154290,0.259117,0.131819,0.068077,0.110590,-0.005658,0.511662
Glucose,0.154290,1.000000,0.218367,0.192991,0.420157,0.230941,0.137060,0.266534
BloodPressure,0.259117,0.218367,1.000000,0.192816,0.072517,0.281268,-0.002763,0.324595
SkinThickness,0.131819,0.192991,0.192816,1.000000,0.158139,0.542398,0.100966,0.127872
Insulin,0.068077,0.420157,0.072517,0.158139,1.000000,0.166586,0.098634,0.136734
BMI,0.110590,0.230941,0.281268,0.542398,0.166586,1.000000,0.153400,0.025519
DiabetesPedigreeFunction,-0.005658,0.137060,-0.002763,0.100966,0.098634,0.153400,1.000000,0.033561
Age,0.511662,0.266534,0.324595,0.127872,0.136734,0.025519,0.033561,1.000000

# 5. Get the descriptive statistics of each column.

In [103]:
des_stat=X.describe()
print(des_stat)

       Pregnancies     Glucose  BloodPressure  SkinThickness     Insulin  \
count   768.000000  768.000000     768.000000     768.000000  768.000000
mean      4.494673  121.686763      72.405184      29.153420  155.548223
std       2.975395   30.435949      12.096346       8.790942   85.021108
min       1.000000   44.000000      24.000000       7.000000   14.000000
25%       2.000000   99.750000      64.000000      25.000000  121.500000
50%       4.494673  117.000000      72.202592      29.153420  155.548223
75%       6.000000  140.250000      80.000000      32.000000  155.548223
max      17.000000  199.000000     122.000000      99.000000  846.000000

              BMI  DiabetesPedigreeFunction         Age
count  768.000000                768.000000  768.000000
mean    32.457464                  0.471876   33.240885
std      6.875151                  0.331329   11.760232
min     18.200000                  0.078000   21.000000
25%     27.500000                  0.243750   24.000000
50%     32.400000                  0.372500   29.000000
75%     36.600000                  0.626250   41.000000
max     67.100000                  2.420000   81.000000

#6. Inferential Statistics

In [105]:
#reading the sample file from defined path
sample_file_path='/content/drive/MyDrive/Growth Guide Assignment/sample.xlsx'
sample = pd.read_excel(sample_file_path)
sample.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [106]:
#Separating Dependent and Independent variables
X_sample = sample.iloc[:,:-1]
Y_sample= sample['Outcome']

In [107]:
#The following code replaces 0 with NaN value, imputes the the NaN values with the mean values and transform the dataset
X_sample=X_sample.replace(0,np.nan)
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
head=X_sample.columns
imputer = imputer.fit(X_sample)
X_sample= pd.DataFrame(imputer.transform(X_sample),columns=head)
X_sample.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6.000,148.0,72.0,35.000000,201.947368,33.6,0.627,50.0
1,1.000,85.0,66.0,29.000000,201.947368,26.6,0.351,31.0
2,8.000,183.0,64.0,31.269231,201.947368,23.3,0.672,32.0
3,1.000,89.0,66.0,23.000000,94.000000,28.1,0.167,21.0
4,5.775,137.0,40.0,35.000000,168.000000,43.1,2.288,33.0

## Normal Deviate Z Test

Given population and sample , check sample belong to same population.

H0 - Samples are likely drawn from the same distributions

H1 - Samples are likely drawn from different distributions.


[Know More about ztest](https://microbenotes.com/z-test/)

As a part of common practice it same to assume , the significance value **=0.05**

Let's assume the  'Glucose' feature is normally distributed data.

In [108]:
alpha=0.05

mu=X['Glucose'].mean()
Sig=X['Glucose'].std()
X_bar=X_sample['Glucose'].mean()
n=len(X_sample['Glucose'])
SE=Sig/np.sqrt(n)


#alpha level of 0.05
z_critical=1.96

In [109]:
z_stat=(X_bar-mu)/SE

In [110]:
print(z_stat)

1.1009314264541339

Since z_stat is less than z_critical we accept the null hypothesis and reject the alternative. Statistically, we say the sample mean is no different than the population mean and thus the sample is drawn from the population.

#One Sample T- Test

Given population and sample , check sample belong to same population.

H0 - Samples are likely drawn from the same distributions

H1 - Samples are likely drawn from different distributions

[Know more about test](https://microbenotes.com/t-test/)

As a part of common practice it same to assume , the significance value **=0.05**


Let's assume the  'Glucose' feature is normally distributed data.

To perform the **t_test** let us take the random sample of **size 30** of **GLUCOSE** feature.

In [130]:
random_sample=np.array(random.sample(list(X_sample['Glucose']),30))

In [131]:
tsample=pd.DataFrame(random_sample,columns=['Glucose'])

In [132]:
alpha=0.05

pop_mu=X_sample['Glucose'].mean()
x_bar=tsample['Glucose'].mean()
sigma=tsample['Glucose'].std()
N=len(tsample['Glucose'])
sx=sigma/np.sqrt(N)


#alpha level of 0.05
t_critical = 2.093

In [133]:
t_stat= (x_bar-pop_mu)/sx

In [134]:
print(t_stat)

0.33887486265493755

Since t_stat is less than t_critical we accept the null hypothesis and reject the alternative. Statistically, we say the sample mean is no different than the population mean and thus the sample is drawn from the population.